* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo-mario {
    height: 200px;
}

button {
    color: #ffffff;
    background-color: #c51111;
    border-radius: 3px;
    border: none;
    width: 200px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 30px;

}

.imagem-mario-luigi {
    height: 500px;

}

body {
    height: 100vh;
}

.caixa-mae {
    display: flex;
    align-items: center;
    /*vertical*/
    justify-content: space-around;
    /*horizontal*/
    padding: 100px;
    height: 100vh;
    color: #ffffff;

}

.caixa-principal {
    width: 50%;
}

.caixa-video {
    position: fixed;
    z-index: -1;
    top: 0;

}

video {
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;

}

.mascara {
    height: 100%;
    width: 100%;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    position: fixed;
    top: 0;


}

.link-whatsapp img {
    height: 60px;
    position: fixed;
    right: 20px;
    bottom: 20px;


}

.header {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 30px;
    

}

.header img {
    height: 60px;

}

.header a {
    color: #ffffff;
    font-size: 24px;
    cursor: pointer;


}

.header a:hover {
    color: #c51111;
    font-size: 26px;
    transition: 0.5s ease-in-out;
}

button {
    background: rgb(221, 28, 6);
    background: linear-gradient(0deg, rgb(194, 48, 7) 0%, rgb(240, 25, 5) 100%);
    border: none;

}

button:before {
    height: 0%;
    width: 2px;
}

button:hover {
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
        -4px -4px 6px 0 rgba(116, 125, 136, .5),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

.formulario-fale-conosco {
    background-color: #ffffff;
    display: flex;
    gap: 20px;
    flex-direction: column;
    position: fixed;
    top: 30%;
    left: -300px;
    padding: 20px;
    border-radius: 5px;
    transition: left 1s ease-in-out;


}

input {
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
    outline-color: #18d80f;

}

textarea {
    height: 100px;
    width: 270px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
    outline-color: #18d80f;
}

.mascara-formulario {
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    transition: visibility 1s ease-in-out;


}



@media(max-width: 1100px) {
    p {
        display: none;

    }

    .caixa-mae {
        flex-direction: column;
        padding: 10px;
        justify-content: flex-start;
    }

    .caixa-principal {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .imagem-mario-luigi {
        width: 80vw;
        height: auto;
    }

    .header img {
        display: none;

    }

    .header a {
        display: flex;
        font-size: 20px;
        align-items: center;
        justify-content: center;
    }
}


